body {
  background-color: #bdcafc;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  margin-top: 50px;
}

.btn-back {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 auto;
  width: 10%;
  padding: 10px;
  background-color: #8122ad;
  color: white;
}
.btn-back:hover, 
.btn-back:active:focus,
.btn-back:focus {
  background-color: #9439be;
  color: white;
}

.directories-box {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 15px;
  height: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-section {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-add {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.btn-add:hover,
.btn-add:active:focus,
.btn-add:focus {
  background-color: #29b94a;
  color: white;
}

.rate-box {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: flex-start;
}

.btn-create {
  background-color: #28a745;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.comment-box {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 15px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-switch .form-check-input {
  width: 40px;
  height: 20px;
}

.form-switch .form-check-input:checked {
  background-color: #28a745;
}

h2, h3 {
  font-weight: bold;
}



