body {
  background-color:  #bdcafc;
  font-family: 'Arial', sans-serif;
  padding: 50px;
}
.h1 {
  margin-top: 100px;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.form-section {
  margin: 0 auto;
  max-width: 600px;
}
.form-group {
  position: relative;
  margin-bottom: 40px;
}
.form-control {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  background-color: white;
  box-shadow: none;
  transition: border-color 0.3s ease;
}
.form-control:focus {
  border-color: #29b94a; 
  box-shadow: none;
}
.btn-create {
  background-color: #28a745;
  color: white;
  width: 20%;
  padding: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease;
  border: none;
}
.btn-create:hover,
.btn-create:active:focus,
.btn-create:focus {
  background-color: #29b94a;
  color: white;
}
.btn-back {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 auto;
  width: 10%;
  padding: 10px;
  background-color: #8122ad;
  color: white;
}
.btn-back:hover, 
.btn-back:active:focus,
.btn-back:focus{
  background-color: #9439be;
  color: white;
}

.form-switch .form-check-input {
  width: 40px;
  height: 20px;
}

.form-switch .form-check-input:checked {
  background-color: #28a745;
}