body {
  background-color: #e5d2ff;
  font-family: 'Arial', sans-serif;
  padding: 150px;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.btn-colorfont, 
.btn-colorfont:hover,
.btn-colorfont:active:focus,
.btn-colorfont:focus{
  color: white
}
.btn-custom {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.btn-login {
  background-color: #2263ad; 
}
.btn-register {
  background-color: #28a745; 
}
.btn-search {
  background-color: #d91099;
}
.btn-login:hover,
.btn-login:active:focus,
.btn-login:focus 
{
  background-color: #3281da; 
}
.btn-register:hover,
.btn-register:active:focus,
.btn-register:focus {
  background-color: #29b94a; 
}
.btn-search:hover,
.btn-search:active:focus,
.btn-search:focus {
  background-color: #e633ad;
} 
